.cards1 {
  width: 500px;
  margin-left: 33%;
  background: green;
}

.cards2 {
  clear: both;
}

.card{
    width:100px;
    height:150px;
    border:1px solid #151718;
    float:left;
    margin-left: 50px;
    margin-right:5px;
    margin-bottom:5px;
    margin-top: 30px;
    border-radius:2px;
    font-family:courier;
    font-size: 55px;
    text-align: center;
    background: white;
}

#warCards1{
    width:100px;
    height:150px;
    border:1px solid #151718;
    float:left;
    margin-left: 15px;
    margin-right:5px;
    margin-bottom:5px;
    margin-top: 10px;
    border-radius:2px;
    font-family:courier;
    font-size: 55px;
    text-align: center;
    background: white;
}

#warCards2{
    width:100px;
    height:150px;
    border:1px solid #151718;
    float:left;
    margin-left: 15px;
    margin-right:5px;
    margin-bottom:5px;
    margin-top: 10px;
    border-radius:2px;
    font-family:courier;
    font-size: 55px;
    text-align: center;
    background: white;
    clear: both;
}

button {
  margin-bottom: 15px;
}


header {
  background: grey;
  margin: 15px;
  padding: 15px;
  width: 90%;
  height: 70%;
  text-align: center;
}

body {

  margin: 50px;
  height: 800px;
}

.score1 {
  font-size: 20px;
  text-align: left;
  float: left;
  display: inline-block;
  clear: both;


}

.score2 {
    font-size: 20px;
    text-align: right;
    display: inline-block
    margin-left: 50px;
}

.top {
  clear: both;
}

.winner {
  clear: both;
  margin-top: 15px;
}
